.View-Tree-Wrapper {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Tree-Details {
	width: 500px;
}


@media (min-width: 42em) {
  .Tree-Image {
  	margin-left: 40%;
  }
}

/* Mobile View */
@media (max-width: 42em) {
	.Tree-Details {
		
  		margin-left: 5%;
	}
}
