<html>
	<head>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="author" content="Kayee Wong">

	    <link rel="shortcut icon" href="images/icon.png"/>
		<title><%= title %></title>

	    <!-- Font Awesome -->
	  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Material Design Bootstrap -->
		<link href="css/mdb.min.css" rel="stylesheet">
		<!-- Custom Styles  -->
	    <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<!--Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark primary-color">

		  <!-- Navbar brand -->
		  <a class="navbar-brand" href="#">PlantATree</a>

		  <!-- Collapse button -->
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
		    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <!-- Collapsible content -->
		  <div class="collapse navbar-collapse" id="basicExampleNav">

		    <!-- Links -->
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home
		          <span class="sr-only">(current)</span>
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/product/add">Add New Product</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="/product">Browse Trees</a>
		      </li>

		    </ul>
		    <!-- Links -->

		    <form class="form-inline">
		      <div class="md-form my-0">
		        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
		      </div>
		    </form>
		  </div>
		  <!-- Collapsible content -->

		</nav>
		<!--/.Navbar-->
		
