<html>
	<head>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  	<meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="author" content="Kayee Wong">

	    <link rel="shortcut icon" href="images/icon.png"/>
		<title><%= title %></title>

	    <!-- Font Awesome -->
	  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
		<!-- Bootstrap core CSS -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<!-- Material Design Bootstrap -->
		<link href="css/mdb.min.css" rel="stylesheet">
		<!-- Custom Styles  -->
	    <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>


		<header>

	    <!-- Navbar -->
	    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar success-color">
	      <div class="container">

	        <!-- Brand -->
	        <a class="navbar-brand" href="/"><strong>PlantATree</strong></a>

	        <!-- Collapse -->
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
	          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>

	        <!-- Links -->
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">

	          <!-- Left -->
	          <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	              <a class="nav-link" href="/">Home
	                <span class="sr-only">(current)</span>
	              </a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#">About</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="/product">Manage Trees</a>
	            </li>
	            <li class="nav-item">
	              <a class="nav-link" href="#">Contact</a>
	            </li>
	          </ul>

	          <!-- Right -->
	          <ul class="navbar-nav nav-flex-icons">
	            <li class="nav-item">
	              <a href="https://www.facebook.com/" class="nav-link">
	                <i class="fab fa-facebook-f"></i>
	              </a>
	            </li>
	            <li class="nav-item">
	              <a href="https://twitter.com/" class="nav-link">
	                <i class="fab fa-twitter"></i>
	              </a>
	            </li>
	          </ul>

	        </div>

	      </div>
	    </nav>
	    <!-- Navbar -->
 	</header>
 	<br><br>
