.Home-Wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.Search-Bar {
  display: flex;
  justify-content: center;
  padding-left: 20px;
}

.Filter-Bar {
  margin-top: -20px;
}

.No-Trees {
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
}

.Spinner-Wrapper {
  display: flex; 
  justify-content: center; 
  height: 100vh;
  align-items: center;
}

/* Mobile View */
@media (max-width: 42em) {
  .Home-Wrapper {
    margin-left: -6%;
  }
}

span {
  width: 20px;
}